<div class="container mx-auto px-6 max-w-6xl mt-24">
    <footer class="border-t border-white/5 pt-8 pb-12 flex flex-col md:flex-row justify-between items-center text-xs text-gray-600 fade-in-up" style="animation-delay: 0.8s;">
        <div class="mb-4 md:mb-0">
            <span class="text-emerald-800 font-bold">MVS</span>_DEV // 2024-2025
        </div>
        
        <div class="flex space-x-6 font-mono opacity-60">
            <span class="hover:text-emerald-500 cursor-pointer transition-colors">GITHUB</span>
            <span class="hover:text-emerald-500 cursor-pointer transition-colors">LINKEDIN</span>
            <span class="hover:text-emerald-500 cursor-pointer transition-colors">EMAIL</span>
            
            <span class="border-l border-gray-800 pl-6 ml-2 hidden md:inline">RAM: OK</span>
        </div>
    </footer>
</div>