<div class="container mx-auto px-6 max-w-6xl mt-24">
    <footer class="border-t border-white/5 pt-8 pb-12 flex flex-col md:flex-row justify-between items-center text-xs text-gray-600 fade-in-up" style="animation-delay: 0.8s;">
        <div class="mb-4 md:mb-0">
            <span class="text-emerald-800 font-bold">MVS</span>_DEV // 2024-2025
        </div>
        
        <div class="flex flex-col items-center md:items-end space-y-3">
            <div class="flex space-x-6 font-mono opacity-60">
                <a href="https://github.com/Vladimir-Melikhov" 
                   target="_blank" 
                   rel="noopener noreferrer" 
                   class="hover:text-emerald-500 cursor-pointer transition-colors">GITHUB</a>

                <a href="https://www.linkedin.com/in/vladimir-melikhov-b9794040b/" 
                   target="_blank" 
                   rel="noopener noreferrer" 
                   class="hover:text-emerald-500 cursor-pointer transition-colors">LINKEDIN</a>

                <a href="mailto:b1esssed1@gmail.com" 
                   class="hover:text-emerald-500 cursor-pointer transition-colors">EMAIL</a>
                
                <span class="border-l border-gray-800 pl-6 ml-2 hidden md:inline">RAM: OK</span>
            </div>
            
            <div class="text-[10px] md:text-xs">
                <a href="{% url 'legal' %}" class="text-gray-500 hover:text-emerald-400 transition-colors tracking-wider">
                    [ LEGAL & PRIVACY PROTOCOLS ]
                </a>
            </div>
        </div>

        <div class="flex flex-col mt-4 md:mt-0">
            <span class="text-xl font-bold tracking-tighter text-white">
                [ <span class="text-emerald-500">MVS</span>_DEV ]
            </span>
        </div>
    </footer>
</div>